#codeQuiz {
  font-family: "Akaya Kanadaka", cursive;
}

#startButton {
  font-family: "Akaya Kanadaka", cursive;
  font-size: x-large;
  color:rgb(44, 40, 40);
}

#saveBtn {
  font-family: "Akaya Kanadaka", cursive;
}

.hide {
  display: none;
}

body, html {
  height: 100%;
}

#bg {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("javascript-background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#jslogo {
  height: 175px;
  width: 175px;
}

h1 {
  color: #F00048;
  font-size: xxx-large;
}

ol {
  font-weight: 400;
  font-size: large;
}

#quizRules {
  opacity: .9;
}

#timer {
  font-size: xx-large;
}

#a1,#a2,#a3,#a4 {
  font-size: x-large;
  color:rgb(44, 40, 40);
}

h2{
  color:#F7E019;
}